<html>
    <h1>EVENTO: {{evento.nome}}</h1>
    <p>Categoria: {{evento.categoria.nome}}</p>
    {% if evento.local%} <p>Local: {{evento.local}}</p> {% endif %}
    {% if evento.link%} <p>Link: {{evento.link}}"</p> {% endif %}
    <td>{% if evento.data%}{{ evento.data | date:"d/m/Y"}}{% else %}A definir{% endif %}</td>
    <p>Quantidade de participantes: {{evento.participantes}}</p>
    <br/>
    <form action="{% url "participar_evento" %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="evento_id" value="{{evento.id}}"/>
        <input type="submit" value="Participar"/>
    </form>
    <br/>
    <p><a href="{% url "listar_eventos" %}">Voltar</a>
</html>
